*{
    margin: 0;
    font-family: 'Montserrat';
}
h1{
    font-size: 35px;
    font-weight: normal;
    padding-top: 20%;
}
h2{
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 25px;
    color: palevioletred;
}
.sec-bg{
    background-image: url("img/header-bg.png");
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    background-size: cover;
}
.half-width{
    width: 40%;
    float: left;
    padding-top: 10%;
    padding-left: 8%;
    vertical-align: middle;
}
.half-width img {
    width: 100%;
    height: 650px;
}
.half-width2{
    width: 40%;
    float: left;
    padding-top: 10%;
}
.half-width2 img {
    width: 100%;
    height: 500px;
}
.half-width3{
    width: 40%;
    float:left;
    padding-top: 8%;
    padding-left: 5%;
    position: relative;
}
.half-width3 img {
    width: 100%;
    height: 600px;
}
.half-width p {
    padding-bottom: 30px;
}

.sty-btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px ;
    background-image: linear-gradient(45deg ,palevioletred ,rgb(228, 25, 126));
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.sty-btn:hover{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px ;
    background-image: linear-gradient(-45deg ,palevioletred ,rgb(228, 25, 126));
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.sec-cv{
    background-image: url("img/biography-bg.png");
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}
.v-center{
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 5%;
    margin-top: 40%;
}
.half-width3 p {
    padding-bottom: 30px;
}
.v-center a{
    margin-top: 40px;
}
.pos-center{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
}
.letest-work{
    background-image: url("img/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.my-work{
    float: left;
    width: 30%;
    padding-left: 1.66%;
    padding-right: 1.66%;
    height: 400px;
}
.my-work  img{
    height: 300px;
}
.pos-center h3{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5%;
}
.pos-center p{
    padding-top: 30px;
}
h4{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
h5{
    font-size: 18px;
    color: gray;
    font-weight: 400;
    padding-bottom: 20px;
}
.Client{
    background-image: url("img/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    position: relative;
}
.msg-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
    border-radius: 8px;
    height: 150px;
    margin-top: 150px;
    background-image: linear-gradient(45deg ,palevioletred ,rgb(228, 25, 126));
}
.msg-content{
    padding-top: 50px;
    text-align: center;
    color: white;
}
.msg-content p{
    padding-bottom: 15px;
}
footer p {
    text-align: center;
    color: gray;
    font-size: 14px;
    padding-bottom: 30px;
}
footer a{
    text-decoration: none;
    color: gray;
}